<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
    <rules>
        <rule name="Reverse Proxy to document" stopProcessing="true">
		<match url="^document/(.*)" />
            <action type="Rewrite" url="http://192.168.100.115:5003/{R:0}" />
        </rule>
    </rules>
	<outboundRules>
        <rule name="Add application prefix" preCondition="IsHTML">
            <match filterByTags="A" pattern="^/(.*)" />
            <conditions>
                <add input="{URL}" pattern="^/(document)/.*" /> <!-- can add multiple server URL by (document|service_Name)-->

            </conditions>
            <action type="Rewrite" value="/{C:1}/{R:1}" />
        </rule>
        <preConditions>
            <preCondition name="IsHTML">
                <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
            </preCondition>
        </preConditions>
    </outboundRules>
</rewrite>
        <httpRedirect enabled="false" destination="" exactDestination="false" childOnly="false" />
    </system.webServer>
</configuration>
